*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(130, 191, 191);
    height: 100vh;
    display: flex;
    justify-content: center;
}
.game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;

}
.gamePic{
    width: 150px;
    height: 170px;
    position: relative;
    transform-style: preserve-3d;
}
.frontImg, .backImg{
    width: 99%;
    height: 99%;
    position: absolute;
    backface-visibility: hidden;
}
