.sign-form{
    border: 1px solid black ;
    border: 20px solid rgb(234, 223, 223);
    border-radius: 20px;
    padding:90px;
    margin: 1px;
    text-align: center;
    background-color: rgb(228, 218, 204);
}
.sign-div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style: italic;
    font-size: xx-large;
    text-decoration-line: underline;
}
body{
    background-color: rgb(130, 191, 191);
}
h1{
    text-align: right; 
    text-decoration-line: underline;
   
}
body{
    box-sizing: border-box;    
    
}
.back{
width: 100%;
height: 140px;
position: fixed;

}
#homePageHeader{
    color: rgb(131, 161, 187);
}
.footerclass{
    width: 100%;
    height: 120px;
    background-color: rgb(176, 166, 153);
}
